@import "reset";

//! Header
header.header {
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    //// Logo
    .logo {
        width: 20vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            transition: all 0.2s ease-out;

            &:hover {
                opacity: 0.6;
            }

            img {
                width: 8vw;
            }
        }
    }

    //// Container
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 51vw;
        height: 50%;
        z-index: 1000;

        //* Contact Shit
        .contact {
            // background-color: red;
            height: 100%;
            width: 68%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a.main-site,
            a.mail,
            span.phone-number {
                color: #000;
                transition: all 0.2s ease-out;
                font-size: calc(0.75vw + 0.75vh);

                &:hover {
                    font-size: calc(0.8vw + 0.8vh);
                    color: #2567b3;
                    background: #e9f1ff;
                    padding: calc(0.6vw + 0.6vh);
                    border-radius: 2rem;
                }

                i.fas {
                    margin-right: calc(0.3vw + 0.3vh);
                }
            }
        }

        //* Download Formats
        ul {
            width: 20%;

            li.dropdown {
                a.text {
                    height: 6.5vh;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    box-shadow: 0px 5px 10px rgba(125, 125, 125, 0.5);
                    border-radius: 2rem;
                    cursor: pointer;

                    &:hover {
                        span,
                        i.fas {
                            font-size: calc(0.8vw + 0.8vh);
                            color: #60aaff;
                        }
                    }

                    span {
                        width: fit-content;
                        color: #2567b3;
                        font-weight: bold;
                        font-size: calc(0.75vw + 0.75vh);
                        transition: all 0.2s ease-out;
                    }

                    i.fas {
                        color: #2567b3;
                        font-size: calc(0.75vw + 0.75vh);
                        transition: all 0.2s ease-out;
                    }
                }

                ul.dropdown-menu {
                    z-index: 1000;
                    margin-top: calc(0.3vw + 0.3vh);
                    padding: calc(0.5vw + 0.5vh);
                    width: 100%;
                    box-shadow: 0px 5px 10px rgba(125, 125, 125, 0.5);
                    border-radius: 2rem;
                    display: none;
                    background-color: #fff;

                    li.list-item {
                        border-radius: 1.5rem;
                        padding: calc(0.5vw + 0.5vh);
                        cursor: pointer;
                        transition: all 0.1s ease-out;
                        text-align: center;

                        a {
                            span {
                                width: 100%;
                                color: #a215a7;
                                font-weight: bold;
                                font-size: calc(0.75vw + 0.75vh);
                                opacity: 0.5;
                                transition: all 0.2s ease-out;
                            }
                        }

                        &:hover {
                            background: #dbe2ec;
                            a {
                                span {
                                    font-size: calc(0.9vw + 0.9vh);
                                    opacity: 1;
                                }
                            }
                        }

                        &:active {
                            transform: scale(0.95);

                            a {
                                span {
                                    opacity: 0.5;
                                }
                            }
                        }
                    }
                }

                &.open {
                    a.text {
                        i.fas {
                            transform: rotate(180deg);
                        }
                    }

                    ul.dropdown-menu {
                        display: block;
                    }
                }
            }
        }
    }
}

//! Main
main.main {
    height: 87vh;
    display: flex;

    //// Navigation Panel
    nav.nav {
        width: 23vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        //* Search Bar
        .search-bar {
            height: 10%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                width: calc(10vw + 10vh);
                height: calc(2vw + 2vh);
                font-size: calc(0.7vw + 0.7vh);
                padding-left: calc(2.3vw + 2.3vh);
                color: rgb(73, 73, 73);
                border-radius: 1rem;
                border: 2px solid #009cbe;
                background: url(../images/search-solid.svg) no-repeat;
                background-size: calc(0.8vw + 0.8vh) calc(0.8vw + 0.8vh);
                background-position: calc(0.8vw + 0.8vh) 50%;
                transition: all 0.2s ease-out;

                &:focus {
                    width: calc(12vw + 12vh);
                    height: calc(2.5vw + 2.5vh);
                    font-size: calc(0.85vw + 0.85vh);
                    background-size: calc(0.9vw + 0.9vh) calc(0.9vw + 0.9vh);
                    border-radius: 2rem;
                }
            }
        }

        //* Module List
        .m-section {
            width: 100%;
            height: 90%;
            overflow-y: scroll;
            scrollbar-width: none;
            display: flex;
            justify-content: center;

            &::-webkit-scrollbar {
                display: none;
            }

            ul.m-list {
                //! List Item
                li.m-list-item {
                    width: 80%;
                    margin: 0 auto;
                    padding: calc(0.5vw + 0.5vh);
                    margin-bottom: calc(0.7vw + 0.7vh);
                    transition: all 0.3s ease-out;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:hover {
                        background: #e9f1ff;
                        border-radius: 1rem;
                        padding: calc(0.7vw + 0.7vh);

                        details.m-list-item-text {
                            summary {
                                span {
                                    font-size: calc(0.83vw + 0.83vh);
                                    color: #2567b3;
                                }

                                i.fas {
                                    color: #2567b3;
                                }

                                &::-webkit-details-marker {
                                    color: #2567b3;
                                }
                            }
                        }
                    }

                    &:active {
                        details.m-list-item-text {
                            summary {
                                span {
                                    transform: scale(0.9);
                                }
                            }
                        }
                    }

                    &:nth-child(4) {
                        details.m-list-item-text {
                            summary {
                                span {
                                    margin-left: calc(1.25vh + 1.25vw);
                                }

                                &::-webkit-details-marker {
                                    display: none;
                                }
                            }
                        }
                    }

                    details.m-list-item-text {
                        //* Text
                        summary {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            span {
                                cursor: default;
                                color: rgb(73, 73, 73);
                                font-size: calc(0.75vw + 0.75vh);
                                font-weight: bold;
                                transition: all 0.2s ease-out;
                            }

                            &::-webkit-details-marker {
                                margin-right: calc(0.7vh + 0.7vw);
                                transition: all 0.2s ease-out;
                            }
                        }

                        //* Dropdown
                        ul.dropdown-menu {
                            margin-top: calc(0.8vw + 0.8vh);

                            //? Dropdown Item
                            li.dropdown-item {
                                //background-color: rgb(236, 24, 243);
                                margin-left: calc(1.5vw + 1.5vh);
                                margin-bottom: calc(0.3vw + 0.3vh);
                                padding: calc(0.5vw + 0.5vh);
                                border-radius: 1rem;
                                transition: all 0.2s ease-out;

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                &:hover {
                                    background: #dbe2ec;
                                    a {
                                        span {
                                            font-size: calc(0.85vw + 0.85vh);
                                            opacity: 1;
                                        }
                                    }
                                }

                                &:active {
                                    transform: scale(0.95);

                                    a {
                                        span {
                                            opacity: 0.5;
                                        }
                                    }
                                }

                                a {
                                    span {
                                        width: 100%;
                                        color: #a215a7;
                                        font-weight: bold;
                                        font-size: calc(0.75vw + 0.75vh);
                                        opacity: 0.5;
                                        transition: all 0.2s ease-out;
                                    }
                                }
                            }
                        }
                    }

                    details[open] summary ~ * {
                        animation: sweep 0.5s ease-in-out;
                    }
                    @keyframes sweep {
                        0% {
                            opacity: 0;
                            margin-left: -10px;
                        }
                        100% {
                            opacity: 1;
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
    }

    //// Main Section
    section.section {
        background-color: rgb(32, 95, 231);

        width: 77vw;
        display: flex;
        justify-content: flex-end;

        .content {
            background-color: rgb(139, 2, 2);

            width: 80%;
            height: 100%;
            margin: 0 auto;

            .main-section {
                .main-heading {
                }

                .sub-section {
                    .sub-heading {
                    }
                }
            }
        }
    }
}
