@import "reset";

//! Container
.container {
    display: flex;
}

//! Social Links
.social-links {
    background-color: rgb(1, 73, 141);

    width: 0%;
    display: flex;
    align-items: center;
    height: 100vh;

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
            margin-bottom: calc(1.3vw + 1.3vh);
            margin-left: calc(1.5vw + 1.5vh);

            i.fab {
                display: flex;
                align-items: center;
                font-size: calc(1.5vw + 1.5vh);
                color: #2567b3;
                transition: all 0.3s ease-out;

                &:hover {
                    color: #60aaff;
                    font-size: calc(2.1vw + 2.1vh);

                    h3 {
                        visibility: visible;
                    }
                }

                h3 {
                    font-size: calc(0.9vw + 0.9vh);
                    font-weight: bold;
                    margin-left: calc(1vw + 1vh);
                    visibility: hidden;
                    transition: all 0.28s ease-out;
                }
            }
        }
    }
}

//! Bucket
.bucket {
    width: 60%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;

    //// Logo
    .logo {
        background-color: rgb(123, 143, 9);

        height: fit-content;
        width: 100%;

        a {
            transition: all 0.2s ease-out;

            &:hover {
                opacity: 0.6;
            }

            img {
                width: 15vw;
            }
        }
    }

    //// Header Title
    .header {
        background-color: rgb(6, 133, 44);

        height: fit-content;
        width: 100%;

        h1.title {
            font-size: calc(3.2vw + 3.2vh);
            font-weight: 500;
            color: #7d7d7d;
        }
    }

    //// Search Bar
    .search-bar {
        background-color: rgb(15, 72, 196);

        height: fit-content;
        width: 100%;

        input {
            font-size: calc(1vw + 1vh);
            padding: 1rem;
            padding-left: calc(3.5vw + 3.5vh);

            width: 70%;
            color: rgb(73, 73, 73);
            border: 1px solid rgba(125, 125, 125, 0.8);
            box-shadow: 0px 7px 14px rgba(125, 125, 125, 0.8);
            border-radius: 2.5rem;
            transition: all 0.2s ease-out;

            background: url(../images/search-solid.svg) no-repeat;
            background-size: calc(1vw + 1vh) calc(1vw + 1vh);
            background-position: calc(1.5vw + 1.5vh) 50%;

            &:focus {
                width: 85%;
                padding: 1.2rem;
                padding-left: 5rem;
                font-size: 1.4rem;
                border: 2px solid rgb(66, 66, 66);
                box-shadow: 0px 7px 14px rgba(41, 41, 41, 0.8);
                background-size: 1.6rem 1.6rem;
            }
        }
    }

    //// Doc Links
    .doc-links {
       //background-color: rgb(128, 6, 117);

        height: 100%;
        width: 100%;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        //* Important Docs

        //* All Docs
        a.all-docs {
            //background-color: rgb(136, 78, 2);

            width: 40%;
            height: 8vh;

            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 7px 14px rgba(125, 125, 125, 0.8);
            border-radius: 2rem;
            cursor: pointer;
            &:hover {
                span {
                    font-size: calc(1.2vw + 1.2vh);
                }
            }

            span {
                color: #3373be;
                font-weight: bold;
                font-size: calc(1vw + 1vh);
                transition: all 0.2s ease-out;
            }
        }
    }
}
